.name{
    text-shadow: 0 0 5px black;
    box-shadow: 5px 5px 5px rgb(155, 143, 143);
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(197, 241, 241);
    
}   
.h1{
    text-shadow: 0 0 5px black;
    box-shadow: 5px 5px 5px rgb(155, 143, 143);
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(197, 241, 241);
}
.bodyy{
    background-color: rgb(0, 217, 255);
    border: 5px solid black;
    border-radius: 10px;
}

li{
    /* padding: 20px; */
    margin: 20px;
    font-weight: bold ;
    font-style: italic;
    font-size: 28px;
    
}
.line{
    margin: 5px;
    margin-left: 10px;
    padding-right: 0%;
}
.infoBorder{
    border-radius: 50%;
    
}
.support{
    padding-left: 95%;
    padding-bottom: 5%;
    
}

